.item-media img, .avaBunder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 1em;
}

.popover {
    width: 200px;
}
.swiper-slide {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    line-height:20vh;
    text-align:center;
}
.swiper-slide span {
    font-size:17px;
}

.swiper-slide img {
    height: 25vh;
}

.swiper-container {
    height: 25vh;
    margin: 0 0 5vw;
}

.row {
    margin-bottom: 15px;
    text-align: center;
} 

.ldr-card-header-pic{
    height: 40vw;
    background-size: cover;
    background-position: center;
}

.facebook-card .card-header {
    display: block;
    padding: 10px;
}
.facebook-card .facebook-avatar {
    float: left;
}
.facebook-card .facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
}
.facebook-card .facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
}
.facebook-card .card-footer {
    background: #fafafa;
}
.facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
}
.facebook-card .card-content img {
    display: block;
}
.facebook-card .card-content-inner {
    padding: 15px 10px;
}  

.sembunyi{
    display: none;
}

.kekiri{
    text-align: left;
}
.kekanan{
    text-align: right;
}