.swiper-slide {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    line-height:20vh;
    text-align:center;
}
.swiper-slide span {
    font-size:17px;
}

.swiper-slide img {
    height: 25vh;
}

.swiper-container {
    height: 25vh;
    margin: 0 0 5vw;
}

.row {
  margin-bottom: 15px;
  text-align: center;
} 

.ldr-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
}