.swiper-slide {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    line-height:90px;
    text-align:center;
}
.swiper-slide span {
    font-size:17px;
}
.swiper-container {
    height: 150px;
    margin: 0px 0 35px;
}

.row {
  margin-bottom: 15px;
  text-align: center;
} 

.ldr-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
}